
<div class="auth-wrapper">
  <div class="auth-container">
    <div class="error"><%= render "layouts/errors" %></div>

    <form class="auth-form" action="<%= session_url %>" method="post">
      <h2>Sign In</h2>
      <%= auth_token_input %>
      <input class="auth-input" type="text" name="user[username]" class="username" placeholder="Username">
      <input class="auth-input" type="password" name="user[password]" class="password" placeholder="Password">
      <input class="auth-button" type="submit" value="Log In">
      <button class="auth-button" type="button" name="button">Guest</button>
      <div> Don't have an account? <%= link_to "Sign up", new_user_url%> </div>
    </form>
  </div>
</div>
