<h2>Sign Up</h2>

<form action="<%= users_url %>" method="post">
  <%= auth_token_input %>
  
  <label>
    Full Name
    <input type="text" name="user[full_name]" value="">
  </label>

  <label>
    Username
    <input type="text" name="user[username]" value="">
  </label>

  <label>
    Password
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" value="Sign Up">
</form>
