<div class="auth-wrapper">
  <div class="auth-container">
    <div class="error"><%= render "layouts/errors" %></div>

    <form class="auth-form" action="<%= users_url %>" method="post">
      <h2>Sign Up</h2>
      <br/>
      <%= auth_token_input %>

      <input type="text" name="user[full_name]" placeholder="Full Name">

      <br/>
      <br/>

      <input type="text" name="user[username]" placeholder="Username">

      <br/>
      <br/>

      <input type="password" name="user[password]" placeholder="Password">

      <br/>
      <br/>

      <input type="submit" value="Sign Up">

      <br/>
      <br/>

      <div> Have an account? <%= link_to "Log in", new_session_url%> </div>
    </form>
  </div>
</div>
