<h2>Sign Up</h2>

<form action="<%= users_url %>" method="post">
  <%= auth_token_input %>

  <label>
    Full Name
    <input type="text" name="user[full_name]" value="">
  </label>

  <br/>

  <label>
    Username
    <input type="text" name="user[username]" value="">
  </label>

  <br/>

  <label>
    Password
    <input type="password" name="user[password]" value="">
  </label>

  <br/>

  <input type="submit" value="Sign Up">

  <br/>

</form>

<div> Have an account? <%= link_to "Log in", new_session_url%> </div>
