/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   font-family: sans-serif;
 }

 body {
   background-color: #F8F8F8;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

.auth-container {
  /*background-color: #F0F0F0;*/
  background-color:white;
  margin: 200px auto;
  width: 300px;
  height: 300px;
  opacity: 0.8;
  border: 1px solid lightgray;
}

 .auth-form {
   position: relative;
   margin: 0 auto;
   padding: 20px 20px 20px;
   /*width: 310px;*/
   top: 50%;
   transform: translateY(-50%);
   width: 50%;
 }

 .navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    background-color: lightpink;
    /*background-color:white;
    opacity: 0.8;
    border: 1px solid lightgray;*/
}

.navbar-links li {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.navbar-links li:hover {
    /*background-color: #111;*/
    background-color: white;
    color: lightpink;
    cursor: pointer;
}

.navbar-links .home-button {
  float: left;
}

.individual-post {
  background-color: white;
  margin: auto;
  margin-top: 10px;
  width: 500px;
  border: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.index-photos {
  width: 500px;
  height: auto;
}
